<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>
</head>
<body>
    <form action="/user/join" method="POST">
        <p>이메일</p>
        <input type="email" name="email" placeholder="email" required>
        <p>아이디</p>
        <input type="text" name="nick" placeholder="nickname" required>
        <p>비밀번호</p>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">가입</button>
    </form>
    <a href="/">index</a>
    <a href="/login">로그인</a>
</body>
</html>